[submodule "site-lisp/rinari"]
	path = site-lisp/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "site-lisp/yaml-mode"]
	path = site-lisp/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "site-lisp/auto-highlight-symbol-mode"]
	path = site-lisp/auto-highlight-symbol-mode
	url = https://github.com/mitsuo-saito/auto-highlight-symbol-mode.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
