[submodule "site-lisp/rinari"]
	path = site-lisp/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
